<template>
  <form class="container">
    <h3>Loan Apply</h3>
    <v-text-field
      v-model="totalAmount"
      label="Total Amount"
      required
      @input="$v.totalAmount.$touch()"
      @blur="$v.totalAmount.$touch()"
    ></v-text-field>
    <p class="error">{{totalAmountErrors[0]}}</p>
    <v-text-field
      v-model="loanTerms"
      label="Loan Terms"
      required
      @input="$v.loanTerms.$touch()"
      @blur="$v.loanTerms.$touch()"
    ></v-text-field>
    <p class="error">{{loanTermsErrors[0]}}</p>
    <v-text-field
      v-model="monthlyRepaidAmount"
      label="Repaid Monthly Amount"
      required
      @input="$v.monthlyRepaidAmount.$touch()"
      @blur="$v.monthlyRepaidAmount.$touch()"
    ></v-text-field>
    <p class="error">{{repaidAmountErrors[0]}}</p>

    <div class="btn-section">
        <v-btn
      class="mr-4"
      @click="submit"
    >
      Repay
    </v-btn>
    <v-btn @click="clear">
      clear
    </v-btn>
    </div>
  </form>
</template>

<script lang="ts">
import Loan from './Loan';
export default Loan

</script>

<style scoped lang="scss" src="./Loan.scss"></style>