@import '@/assets/_variables.scss';
.container {
    width: 60%;
    margin: 0 auto;
    padding: 40px;
    h3 {
        font-size: 30px;
    }
    .btn-section {
        padding-top: 20px;
    }
    .error {
        color: red;
    }
}