<template>
  <form class="container">
    <h3>Register</h3>
    <v-text-field
      v-model="name"
      label="Name"
      required
      @input="$v.name.$touch()"
      @blur="$v.name.$touch()"
    ></v-text-field>
    <p class="error">{{nameErrors[0]}}</p>
    <v-text-field
      v-model="email"
      label="E-mail"
      required
      @input="$v.email.$touch()"
      @blur="$v.email.$touch()"
    ></v-text-field>
    <p class="error">{{emailErrors[0]}}</p>

    <div class="btn-section">
        <v-btn
      class="mr-4"
      @click="submit"
    >
      submit
    </v-btn>
    <v-btn @click="clear">
      clear
    </v-btn>
    </div>
  </form>
</template>

<script lang="ts">
import Register from './Register';
export default Register

</script>

<style scoped lang="scss" src="./Register.scss"></style>