<template>
<div class="main-container">
    <section class="left-panel">
        <img src="../../../assets/dashboard/logo.svg" class="logo" alt="aspire-logo" />
        <span class="head-text">Trusted way of banking for 3,000+ SMEs and startups in Singapore</span>
        <ul class="menus">
            <li v-for="(menu, menuIndex) in menus" :key="menuIndex">
                <img :src="require(`../../../assets/dashboard/left-menu/${menu.icon}`)" alt="menu" />
                <span :class="[activeMenu.name == menu.name  && 'active']">{{ menu.name }}</span>
            </li>
        </ul>
    </section>
    <router-view></router-view>
</div>
</template>

<script lang="ts">
import Dashboard from './Dashboard';
export default Dashboard

</script>

<style scoped lang="scss" src="./Dashboard.scss"></style>