@import '@/assets/_variables.scss';
.main-container {
    display: flex;
    height: $full-height;
    position: relative;
    font-family: $font-family;
    .left-panel {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 340px;
        background-color: $dark-blue;
        height: $full-height;
        padding: 48px 55px 0 48px;
        .logo {
            height: 35px;
            width: 125px;
        }
        .head-text {
            font-family: $font-family;
            color: #fff;
            opacity: .5;
            font-size: 15px;
            margin-top: 19px;
        }
        .menus {
            margin: 81px 0 0 0;
            padding: 0;
            list-style-type: none;
            li {
                display: flex;
                align-items: center;
                margin-bottom: 60px;
                cursor: pointer;
                span {
                    color: #fff;
                    font-size: 16px;
                    margin-left: 16px;
                    &.active {
                        color: $green;
                    }
                }
            }
        }
    }
}