<template>
  <div class="home">
    <Dashboard />
  </div>
</template>

<script lang="ts">
import Home from './Home';
export default Home
</script>

<style scoped lang="scss" src="./Home.scss"></style>
