<template>
    <section class="card-panel">
        <section class="header">
            <div class="balance-section">
                <span class="balance-text">Available balance</span>
                <div>
                    <span>S$</span>
                    <h4>3,000</h4>
                </div>
            </div>
            <div class="card-add-section">
                <button>
                    <img src="../../../../assets/dashboard/plus-icon.svg" class="new-card" alt="new-card" />
                    <span>New Card</span>
                </button>
            </div>
        </section>
        <!-- <section class="tabs-section">
            <v-tabs>
                <v-tab>My debit cards</v-tab>
                <v-tab>All company cards</v-tab>
            </v-tabs>
        </section> -->
        <section class="content">
            <section class="left">
                <div class="card">
                    <img src="../../../../assets/dashboard/card-logo.svg" alt="logo" class="logo" />
                    <p class="name">Mark Henry</p>
                    <div class="card-numers">
                        <div class="first">
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                        </div>
                        <div class="second">
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                        </div>
                        <div class="third">
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                            <span class="circle"></span>
                        </div>
                        <span class="last">2020</span>
                    </div>
                    <div class="expiry">
                        <span>Thru: 12/20</span>
                        <span>CVV: <span class="stars"> ***</span></span>
                    </div>
                    <img src="../../../../assets/dashboard/visa-logo.svg" alt="visa-logo" class="visa-logo" />
                </div>
                <div class="card-actions">
                    <ul class="card-list">
                        <li class="card-item" v-for="(action, actionIndex) in cardActions" :key="actionIndex">
                             <img :src="require(`../../../../assets/dashboard/${action.icon}`)" alt="menu" />
                            <span class="name">{{ action.name }}</span>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="right">
                <v-row justify="center">
                    <v-expansion-panels accordion>
                        <v-expansion-panel>
                            <v-expansion-panel-header>
                                <img :src="require(`../../../../assets/dashboard/card-details.svg`)" alt="card-details" />
                                <span>Card details</span>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                            Lorem ipsum dolor sit amet, 
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <v-expansion-panel>
                            <v-expansion-panel-header>
                                <img :src="require(`../../../../assets/dashboard/card-details.svg`)" alt="card-details" />
                                <span>Recent transactions</span>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <ul>
                                    <li>
                                        <div>
                                            <img :src="require(`../../../../assets/dashboard/file-storage.svg`)" alt="storage" />
                                        </div>
                                        <span>Hamleys</span>
                                    </li>
                                    <li>
                                        <div>
                                            <img :src="require(`../../../../assets/dashboard/file-storage.svg`)" alt="storage" />
                                        </div>
                                        <span>Hamleys</span>
                                    </li>
                                    <li>
                                        <div>
                                            <img :src="require(`../../../../assets/dashboard/file-storage.svg`)" alt="storage" />
                                        </div>
                                        <span>Hamleys</span>
                                    </li>
                                    <li>
                                        <div>
                                            <img :src="require(`../../../../assets/dashboard/file-storage.svg`)" alt="storage" />
                                        </div>
                                        <span>Hamleys</span>
                                    </li>
                                </ul>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </v-row>
            </section>
        </section>
    </section>
</template>

<script lang="ts">
import CardDetails from './CardDetails';
export default CardDetails

</script>

<style scoped lang="scss" src="./CardDetails.scss"></style>