@import '@/assets/_variables.scss';
.card-panel {
    width: calc(100vw - 340px);
    height: $full-height;
    padding: 59px 60px;
    .header {
        display: flex;
        .balance-section {
            width: 120px;
            .balance-text {
                font-size: 14px;
                color: #222;
                margin-bottom: 16px;
            }
            div {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 16px;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 24px;
                    background-color: $green;
                    color: #fff;
                    font-size: 13px;
                }
                h4 {
                    display: flex;
                    align-items: center;
                    margin: 0 0 0 12px;
                    font-size: 26px;
                    color: #222;
                }
            }
        }
        .card-add-section {
            display: flex;
            justify-content: flex-end;
            width: calc(100% - 120px);
            button {
                display: flex;
                align-items: center;
                border: none;
                border-radius: 5px;
                padding: 12px;
                height: 35px;
                background-color: $button-background;
                span {
                    margin-left: 8px;
                    color: #fff;
                }
            }
        }
    }
    .content {
        display: flex;
        padding: 60px 0 0 0;
        .left {
            display: flex;
            flex-direction: column;
            width: 55%;
            padding: 0 46px 0 40px;
            .card {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                background-color: $green;
                height: 248px;
                padding: 27px;
                position: relative;
                object-fit: cover;
                .logo {
                    position: absolute;
                    height: 23px;
                    right: 27px;
                }
                .name {
                    margin-top: 27px;
                    font-size: 24px;
                    color: #fff;
                    font-weight: bold;
                }
                .card-numers {
                    display: flex;
                    align-items: center;
                    .first,
                    .second,
                    .third {
                        display: flex;
                        margin-right: 27px;
                        .circle {
                            background: #fff;
                            height: 9px;
                            width: 9px;
                            color: #fff;
                            border-radius: 50%;
                            margin-right: 6px;
                        }
                    }
                    .last {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        color: #fff;
                        font-weight: bold;
                        height: 19px;
                    }
                }
                .expiry {
                    display: flex;
                    margin-top: 17px;
                    span {
                        display: flex;
                        margin-right: 36px;
                        font-size: 13px;
                        color: #fff;
                    }
                    span.stars {
                        display: flex;
                        align-items: center;
                        font-weight: bold;
                    }
                }
                .visa-logo {
                    height: 23px;
                    position: absolute;
                    right: 27px;
                    bottom: 27px;
                }
            }
            .card-actions {
                margin-top: 56px;
                .card-list {
                    display: flex;
                    justify-content: space-between;
                    list-style-type: none;
                    padding: 20px 27px;
                    background-color: #EDF3FF;
                    li {
                        max-width: 50px;
                        img {
                            height: 32px;
                            width: 32px;
                        }
                        .name {
                            font-size: 13px;
                            color: $dark-blue;
                            max-width: 50px;
                        }
                    }
                }
            }
        }
        .right {
            width: 40%;
            .v-expansion-panel {
                margin-top: 24px;
                .v-expansion-panel-header {
                    display: flex;
                    width: auto;
                    background-color: #F5F9FF;
                    img {
                        height: 24px;
                        width: 24px;
                        margin-right: 12px;
                    }
                    span {
                        flex: none;
                    }
                }
                .v-expansion-panel-content {
                    padding: 10px;
                    ul {
                        padding: 12px;
                        list-style-type: none;
                        li {
                            display: flex;
                            line-height: 4;
                            span {
                                font-size: 14px;
                                color: #222;
                            }
                            div {
                                display: flex;
                                margin-right: 12px;
                                justify-content: center;
                                align-items: center;
                                width: 48px;
                                height: 48px;
                                border-radius: 50%;
                                background-color: #009DFF1A;
                            }
                        }
                    }
                }
            }
        }
    }
}